

 <h1 class="spacing header-container">MAKE A REQUEST <span class="badge badge-secondary ">
  <mat-icon>add</mat-icon>
</span> 
</h1>
 
  <table class="table header-container">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title Of Requested Movie</th>
        <th scope="col">Desired Date for Requested Movie</th>
        <th scope="col">
          <button type="button" class="btn btn-success right-hook" (click)="save()"><mat-icon>save</mat-icon></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-success right-hook" [disabled]="disableAddButton" (click)="addRequest()"><mat-icon>add</mat-icon></button>
        </th>
        <th scope="col">
          <button type="button" class="btn btn-danger right-hook" (click)="deleteAll(i)"><mat-icon>delete_sweep</mat-icon></button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let requests of requests; let i = index">
        
        
        <th *ngIf="!requests.editMode" scope="row">{{requests.title}}</th>
        <td *ngIf="!requests.editMode">{{requests.time}}</td>
        

        <th *ngIf="requests.editMode" scope="row">
          
            <input [(ngModel)]="requests.title" type="text" class="form-control" placeholder="Requested Movie Title">

        </th>
        <td *ngIf="requests.editMode">
          
            <input [(ngModel)]="requests.time" type="text" class="form-control" placeholder="Desired Date of Request">
 
        </td>
        
        <td>
          <button type="button" class="btn btn-success right-hook" (click)="edit()"><mat-icon>edit</mat-icon></button>
        </td>
        <td>
<button type="button" class="btn btn-danger right-hook" (click)="delete(i)"><mat-icon>delete_sweep</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  